.projects {
	padding: 10% 0 10% 0;
}

.header {
	font-weight: bold;
	font-size: 36px;
	padding: 10%;
}

.projectGrid{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.projectBox {
	position: relative;
	display: inline-block;
}

.projectBox .overlay {
	position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;        
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  color: #333;
  transition: .5s ease;
  opacity: 0;
  font-size: 20px;
  text-align: center;
  font-family: AvenirNext-Regular;
  letter-spacing: -0.38px;
  font-weight: 600;
}

.projectBox:hover .overlay {
	opacity: 1;
}

.projectBox a {
	text-decoration: none;
}

.projectBox img {
	width: 100%;
}