.marcLogo {
	height: 3em;
}

.navBar {
	width: 100%;
	margin: 0 0 3em 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	z-index: 5;
	top: 0;
	background: white;
}

.navBar li {
	display: flex;
	padding: 1% 1%;
	font-size: 1em;
}

.menuItems {
	margin-right: 3%;
}

.menuItems, .marcLogo {
	cursor: pointer;
}

.menuItems > .active {
  border-bottom: 1px solid #333;
}

.logo {
	flex:1;
}
