.socialIcons {
	display: flex;
	text-decoration: none;
	list-style: none;
	justify-content: center;
	padding-left: 0;
}

.socialIcons img {
	height: 75%;
}

.footer {
	margin-bottom: 5%;
}

.footer p {
	font-family: Avenir Next;
	font-size: 20px;
}