.aboutMe {
  padding: 10% 0 20% 0;
}

.header {
  font-family: Helvetica Neue;
  font-weight: bold;
  font-size: 36px;
  padding: 10%;
}

.aboutText {
  font-family: AvenirNext-Regular;
  font-size: 20px;
  color: #000000;
  letter-spacing: -0.38px;
  text-align: center;
  padding: 0 15% 0 15%;
  text-align: left;
  line-height: 30px;
}

.touchLink {
  text-decoration: none;
  color: black;
}
